* {
margin: 0;
}

nav {
    margin-bottom: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(73, 79, 82);
    color: white;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.links-style {
    color: white;
    text-decoration: none;
}